@model Order

<h2>Poružbina</h2>

<p>Upišite Vaše podatke.</p>

<div asp-validation-summary="All" class="text-warning"></div>

<form asp-action="Checkout" method="post">
    <h3>Podaci:</h3>
    <div class="form-group">
        <label>Ime:</label><input asp-for="Name" class="form-control" />
    </div>
    
    <h6>Posebna opcije (inače se paket pakuje u najlonsko pakovanje)</h6>
    <div class="checkbox">
    <label>
        <input asp-for="GiftWrap" /> Paket upakovan u kutiju.
    </label>
    </div>
    <div class="text-center">
        <input class="btn btn-warning" type="submit" value="Završi porudžbinu" />
    </div>
</form>
