@page

@model CartModel
@using System.Globalization

<h2>Vaša korpa</h2>



<div class="bg-white text-center text-bold">
    <a class="btn btn-success" href="@Model?.ReturnUrl">Nastavite kupovinu</a>
     <a class="btn btn-warning" asp-action="Checkout" asp-controller="Order">
        Kupi
    </a>

</div>
