@using System.Globalization
@model Cart

<div class="container">
    
    
    
    <a class="btn btn-sm btn-dark navbar-btn" asp-page="/Cart" asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fas fa-shopping-cart"></i> <!-- Bootstrap Icons korpa -->
    </a>
</div>
