@page "/admin/orders"
@inherits OwningComponentBase<IOrderRepository>

<OrderTable TableTitle="Porudžbine koje NISU poslate"
        Orders="UnshippedOrders" ButtonLabel="Pošalji" OrderSelected="ShipOrder" />
<OrderTable TableTitle="Poslate porudžbine"
        Orders="ShippedOrders" ButtonLabel="Obriši" OrderSelected="ResetOrder" />
<button class="btn btn-warning" @onclick="@(e => UpdateData())">Ažuriraj podatke</button>

@code 
{
    public IOrderRepository Repository => Service;

    public IEnumerable<Order> AllOrders { get; set; } = Enumerable.Empty<Order>();
    public IEnumerable<Order> UnshippedOrders { get; set; } = Enumerable.Empty<Order>();
    public IEnumerable<Order> ShippedOrders { get; set; } = Enumerable.Empty<Order>();
    
    
}
