@using System.Globalization
@page "/admin/products/details/{id:long}"

<h3 class="bg-success text-white text-center p-1">Detalji</h3>

<table class="table table-dark table-sm table-bordered table-hover">
    <tbody>
        <tr><th>KOD</th><td>@Product?.ProductID</td></tr>
        <tr><th>Proizvod</th><td>@Product?.Name</td></tr>
        <tr><th>Opis</th><td>@Product?.Description</td></tr>
        <tr><th>Kategorija</th><td>@Product?.Category</td></tr>
        <tr><th>Cena</th><td>@Product?.Price.ToString("c",CultureInfo.CreateSpecificCulture("sr-RS"))</td></tr>
    </tbody>
</table>

<NavLink class="btn btn-secondary" href="@EditUrl">Promeni</NavLink>
<NavLink class="btn btn-info" href="/admin/products">Nazad</NavLink>


