@model IEnumerable<string> 

<div class="d-grid gap-3">
    <a class="btn btn-outline-warning" asp-action="Index"
        asp-controller="Home" asp-route-category="">
        Sve
    </a> 

    

</div>
